target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
out/
.idea/
lib/
bin/

*.iml

client/target/
client/pom.xml.tag
client/pom.xml.releaseBackup
client/pom.xml.versionsBackup
client/pom.xml.next
client/release.properties
client/dependency-reduced-pom.xml
client/buildNumber.properties
client/.mvn/timing.properties

communication/target/
communication/pom.xml.tag
communication/pom.xml.releaseBackup
communication/pom.xml.versionsBackup
communication/pom.xml.next
communication/release.properties
communication/dependency-reduced-pom.xml
communication/buildNumber.properties
communication/.mvn/timing.properties

server/target/
server/pom.xml.tag
server/pom.xml.releaseBackup
server/pom.xml.versionsBackup
server/pom.xml.next
server/release.properties
server/dependency-reduced-pom.xml
server/buildNumber.properties
server/.mvn/timing.properties
